*{
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(97, 116, 239),
     rgb(232, 210, 210))
}
.form{
    background-color: aliceblue;
    width: 300px;
    position: absolute;
    top: 100px;
    left: 400px;
    padding: 2em 0 2rem 4rem ;
    font-size: 1.1rem;
    border-radius: 30px;
    box-shadow: 5px 5px 20px black;

}
label{
    display: block;
    padding: 1px;
}
textarea{
    display: block;
    margin-bottom: 1rem;
}
details{
    display: inline;
}
#btn{
    display: block;
    font-size: 1.1rem;
    margin: 2rem 0 0 10rem;
    border-radius: 10px;
    background-color: brown;
    color:white ;
    padding: 5px 10px;
}
btn:hover{
    color: brown;
    background-color: white;
}
#Email:invalid{
    background-color: rgb(202, 97, 97);
}

